.anime {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.big-cover {
  aspect-ratio: 9/12;
  align-self: start;
  width: 100%;
  border-radius: 10px;
}
.about-anime {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 25px;
}
.about {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: 10px;
}
.related-anime {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}
.genres {
  display: flex;
  gap: 10px;
}
.genre {
  padding: 5px;
  border-radius: 8px;
  font-size: 13px;
  background-color: rgb(42, 12, 74);
  border: 1px solid rgb(17, 7, 28);
}
.related-anime-list {
  display: flex;
  height: 120px;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 15px;
}
.related__anime-card {
  display: flex;
  border-radius: 15px;
  width: 300px;
  height: 100%;
  gap: 10px;
  background-color: rgb(42, 12, 74);
}
.related__anime-card-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.player-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.player {
  position: relative;
}
.episode-selector {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}
.player > video {
  width: 100%;
  z-index: 4;
}
.country {
  display: flex;
  gap: 10px;
  align-items: center;
}
